/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 120px;
  min-height: 100vh;
}

h1 {
 margin-top: -600px;
 margin-left:500px;
color: red;
width: 00px;
height: 100px;


  
}

#app {
  max-width: -2000px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  text-align: center;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: poin;
  transition: border-color 0.25s;
  margin-top: 00px;
  display: inline-block;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/
/*#data{
  margin-top: -400px;
  width: 500px;
  height: 300px;
  margin-left: 400px;
}*/
/*#inp{
  width: 350px;
  height: 50px;
  position:static;
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
  position: relative;
  margin-top: 250px;
  background-color: rd;
  margin-right: 50px;
}
#nav{
  width: 50px;
  background-color: #fff;
}
:placeholder-shown{
  color: #fff;
  font-size: 30px;
  font-style: italic;
  display: block;
}

#img{
  margin-top: -150px;
  margin-right:200px;
  border-radius:600px;
  

}

/*#btn{
  margin-right: 800px;
  margin-top: -800px;

}*/

/*#btn1,#btn{
 margin-left: -450px;
 margin-right: 90px;
border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: poin;
  transition: border-color 0.25s;
  margin-top: 00px;


}
#btn1,#btn:hover {
  border-color: #646cff;}
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace; 
}

h1 {
    text-align: center;
    color: rgba(11, 129, 133, 0.973);
    font-size: 3em; 
    margin: -10px 0;
    margin-top: 10px; 
}

#img {
    display: block; 
    margin: 0 auto; 
    max-width: 40%; 
}

#inp {
    margin: 10px auto; 
    width: 80%; 
    max-width: 300px;
    text-align: center;
    margin-left: 500px;
    height: 40px;
    color: white;
    position: relative;
    border-radius: 2px 2px 8px;
    background-color: black;
    border: 1px solid rgba(202, 253, 255, 0.5); 
}

#btn1 {
  display: block; 
  margin: 30px auto; 
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: white;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 80%; 
  max-width: 300px; 
  margin-top: -20px;
}
#btn{
  margin-top: -90px;
  display: block; 
  margin: 10px auto; 
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em ;
  font-size: 1em;
  font-weight: 500;
  color: white;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 60%;
  max-width: 300px; 
  margin-top: -20px;
}
#btn1:hover, #btn:hover {
    border-color: #646cff;
}

#micBtn {
    width: 50px; 
    height: 45px;
    background-color: rgba(202, 253, 255, 0.5);
    border-radius: 5px;
    border: 1px solid black;
}


@media (max-width: 768px) {
    h1 {
        font-size: 2.5em; 
    }

    #inp {
        width: 90%; 
    }

    #btn, #btn1 {
        width: 90%; 
    }
}
#data{
  color: white;
  text-align: center;
}
