* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
body,
html {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
h1 {
  color: #646cff;
}
#root {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-img {
  width: 45vh;
  height: 45vh;
}
button,
input {
  padding: 1rem;
  border: 0px;
}
.action-btn {
  background-color: rgba(202, 253, 255, 0.5);
  border-radius: 5px;
  border: 1px solid black;
  width: 20%;
  margin: 0.5rem;
}
.action-btn:hover {
  border-color: #646cff;
}
.input-cover {
  display: flex;
  width: 20%;
}
.input-box {
  padding-left: 1.5rem;
  border-radius: 1rem 0px 0px 1rem;
  flex: 1;
  font-size: 1rem;
  border: 0px;
}
#micBtn {
  border-radius: 0px 1rem 1rem 0px;
  width: 3rem;
}
.mic-icon {
  width: 2rem;
  margin-right: 1rem;
}
@media (max-width: 600px) {
  #root {
    width: 100vh;
    height: 100vh;
  }
  h1 {
    font-size: 1.5rem;
  }
  #hero-img {
    width: 40vh;
    height: 40vh;
  }
  .action-btn {
    width: 80%;
  }
  .input-cover {
    width: 80%;
  }
  button,
  input {
    padding: 0.4rem;
    border: 0px;
  }
  .input-box {
    padding-left: 1rem;
  }
  .mic-icon {
    width: 1rem;
  }
}
